*{
    font-family: sans-serif;
}


h1{
    text-align: center;
}



.buttons{
    display: flex;
    justify-content: space-around;
}

button{
    border-radius: 10px;
    background-color: aquamarine;
}

.top{
    color: black;
    margin: 10px;
    text-align: center;
}

.text{
    color: black;
    text-align: center;
}